html {
  font-family: 'Roboto Mono', monospace;
}

.i-btn {
    transition: all .3s ease;
}

.i-btn:focus,
.i-btn:hover {
  transform: scale(.9);
}

.me {
  width: 70%;
  max-width: 500px;
  margin: auto;
}

.icons {
  width: 50%;
  margin: auto;
  margin-bottom: 7rem;
}
